{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<!-- 2nd row -->
<div class="row mt-5">
    <div class="col-md-4 bg-primary-subtle p-3">
        <h5>Filter By Category</h5>
        <hr>
        <p><a href="/index" class="anchor">All</a></p>
        <p><a href="/catfilter/1" class="anchor">By Mobile</a></p>
        <p><a href="/catfilter/3" class="anchor">By Shoes</a></p>
        <p><a href="/catfilter/2" class="anchor">By Cloth</a></p>
        <h5>Filter By Price Range</h5>
        <hr>
        <form action="/range">
            <div class="mb-3">
                <label for="Input1" class="form-label">Min Value</label>
                <input type="number" name="min" class="form-control" id="Input1" placeholder="Enter min value">
            </div>
            <div class="mb-3">
                <label for="Input2" class="form-label">Max Value</label>
                <input type="number" name="max" class="form-control" id="Input2" placeholder="Enter max value">
            </div>
            <div class="mb-3">
                <input type="submit" value="Search" class="btn btn-danger">
            </div>
        </form>
        <h5>Sort By Price</h5>
        <hr>
        <p><a href="/sort/0" class="anchor">Low to High</a></p>
        <p><a href="/sort/1" class="anchor">High to Low</a></p>
    </div>
    <div class="col-md-8">
        <div class="row">
            {% for x in products %}
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <img src="{{x.pimage.url}}" width="100%" height="200px" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{x.name}}</h5>
                    <p class="card-text">{{x.price}}</p>
                    <p class="card-text">
                        {% if x.cat == 1 %}
                        <p class="card-text">Mobile</p>
                        {% elif x.cat == 2 %}
                        <p class="card-text">Cloth</p>
                        {% else %}
                        <p class="card-text">Shoes</p>
                        {% endif %}
                    </p>
                    <a href="/detail/{{x.id}}" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock 'main' %}